@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 189 100% 27%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 180 97% 85%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 223, 58%, 95%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 227 15% 12%;
    --foreground: 60 9.1% 97.8%;
    --card: 227 12% 15%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 227 12% 15%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 189 96% 41%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 180 97% 85%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 227 15% 12%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 227 15% 12.9%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 84% 53%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 225 14% 38%;
    --input: 227 15% 24%;
    --ring: 24 5.7% 82.9%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .gradient {
    @apply bg-gradient-to-t from-primary/75 to-secondary/80;
  }
}
